/img_res/*
/img/*
/cgv-automatic-facades/

/model_graz/
/out/
/out_cpy/
/out_graz/
/lib/toolbox/
/lib/drwn/
/lib/sky-detector/
/src/old/
/src/cache/
/src/*.png

/tmp/
/src/tmp.sh
/src/testList.txt
/.idea/

/lib/Panorama_Rectification/out/Pano_hl_z_vp/*
/lib/Panorama_Rectification/out/Pano_refine/*
/lib/Panorama_Rectification/out/Rendering/*
/lib/Panorama_Rectification/tmp/*
/lib/Panorama_Rectification/Pano_input/*


*.pyc
/src/tmp/
